# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Tạm thời mở file .env
# .env

# Ignore compiled code or build artifacts
dist/
build/
out/

# Ignore system or IDE specific files
.DS_Store
.idea/